<div id="login">
	<img src="img/logo.png">
	<form ng-submit="sendForm()" class="form-group">
		<fieldset>
			<input class="form-control mb10" ng-model="userData.email" placeholder="Email" value="{{userData.email}}" type="email" required>
			<input class="form-control" ng-model="userData.password" placeholder="Passwort" value="{{userData.password}}" type="password" required>
			<p><a href="">Passwort vergessen? </a></p>
			<input class="btn btn-block btn-lg btn-default"  type="submit" value="Login"></input>
		</fieldset>
	</form>
</div>