<div id="login" ng-hide="showAbout">
	<img src="img/logo.png">
	<form ng-submit="sendLogin()" class="form-group">
		<fieldset>
			<input class="form-control mb10" ng-model="userData.email" placeholder="Email" value="{{userData.email}}" type="email" required>
			<input class="form-control" ng-model="userData.password" placeholder="Passwort" value="{{userData.password}}" type="password" required>
			<p><a href="#/forgot">Passwort vergessen? </a></p>
			<input class="btn btn-block btn-lg btn-default"  type="submit" value="Login"></input>
		</fieldset>
	</form>
	<p class="tac wd100"><a  href="#/register">Oder registrieren sie sich</a></p>
	<p class="tac wd100 mt10"><a href="" ng-click="toggleAboutGoldbock()">Was ist Goldbock?</a></p>
</div>

<div id="about" ng-show="showAbout">
	<div class="row">
		<div class="column large-3">&nbsp;</div>
		<div class="column large-6">
			<h1 class="tac mb30">Goldbock</h1>
			<p>Goldbock verbindet die Geschäfts, Arbeits- und Lebenskultur zu einem Ganzen und gestaltet damit eine neue Welt für Fortschritt und Produktivität! Das Gold für Business, Work & Life</p>

			<h1 class="tac mb30">Für Anbieter</h1>
			<p>Teilen Sie Ihr Können und entdecken Sie neue Möglichkeiten, Gewinnen Sie neue Kunden und Ideen.  Lassen Sie Ihre Mitarbeiter sich bedienen an dem was jeder individuell benötigt um sich zu entwickeln. Bedienen Sie sich an Dienstleistungen, die Sie jetzt gerade benötigen (jusit in Time).  Erstellen Sie eigene Veranstaltungen, Präsentationen, Umfragen,  on- oder Offline. Orientieren Sie sich an Mitbewerber, lernen Sie neue Ideen kennen. <br>
			Gestalten Sie Ihre Mitarbeiterförderung neu. Der Mitarbeiter will unterhalten werden, Fortschritte erzielen, alleine entscheiden was ihm gut tut, Die Zukunft liegt in der individuellen Entwicklung.<br>
			Entscheiden Sie intern, BRD, EU, World.  <br><a href="mailto:info@goldbock.de" title="" class="tac mt20 m0auto bold">Jetzt kostenfrei anmelden</a></p>

			<h1 class="tac mb30">Für Arbeitnehmer</h1>

			<p>Erhalte und gebe Feedback für Deine Arbeiten und Handlungen. Blicke in andere Branchen, beobachte interessante Personen und Unternehmen. Stelle Fragen und nehme Kontakt auf. Bediene Dich an beste Coaches, Berater, Trainer und weiteren Bildungsmöglichkeiten oder Veranstaltungen. Verbinde privates mit geschäftlichem und umgekehrt – ganz wie Du willst.
			Organisiere AusserHausMeetings einfach und persönlich, gewinne neue Kunden Kontakte und zeige Dich. <br>
			Treffe Dich mit interessanten Kollegen zu Kochabenden, zu fremdsprachlichen Diskussionen, zu gemeinschaftlichen Aktionen oder probiere Neues aus, kreiere Deine Ideen, nehme Dienstleistungen in Anspruch zur Erleichterung Deines Handelns und Deines Lebens. Kaufe & verkaufe über ein weltweites Intranet. <br>
			Entscheiden dabei stets selbst, wer was sehen darf:  keiner, intern, regional, deutschlandweit, europaweit oder die ganze Welt. Bestimmte was mit Deinem Können und Wissen passiert!<br>
			Verändere die Arbeitswelt jetzt!<br> <a href="#/register" title="" class="tac mt20 m0auto bold">Jetzt anmelden</a></p>

			<h1 class="tac mb30">Für Arbeitgeber</h1>
			<p>Eröffnen Sie eine Vielzahl neuer Filialen und zwar in Unternehmen von 0 bis tausende von Arbeitnehmern. Präsentieren Sie Ihr Können, Ihr Wissen und Ihre Produkte direkt  an den Arbeitsplatz jedes einzelnen Unternehmens und deren Arbeitnehmer. <br>
			Erschließen Sie neue Absatzwege in der Region, Deutschland, Europa oder auf der ganzen Welt.<br>
			Noch nie war es so einfach neue Kunden zu gewinnen.<br><a href="mailto:info@goldbock.de" title="" class="tac mt20 m0auto bold">Jetzt anmelden</a></p>

			<button class="btn btn-block btn-lg btn-primary m0auto mb30" ng-click="toggleAboutGoldbock()">Schließen</button>
		</div>
		<div class="column large-3">&nbsp;</div>
	</div>
</div>