<div id="login">
	<img src="img/logo.png">
	<form ng-submit="sendRegister()" class="form-group">
		<fieldset>
			<input class="form-control mb10" ng-model="userData.firstname" placeholder="Name" value="{{userData.firstname}}" type="text" required>
			<input class="form-control mb10" ng-model="userData.lastname" placeholder="Vorname" value="{{userData.lastname}}" type="text" required>
			<input class="form-control mb10" ng-model="userData.email" placeholder="Email" value="{{userData.email}}" type="email" required>
			<input class="form-control" ng-model="userData.password" placeholder="Passwort" value="{{userData.password}}" type="password" required>
			<p><a href="#/forgot">Passwort vergessen? </a></p>
			<input class="btn btn-block btn-lg btn-default"  type="submit" value="Registrieren"></input>
		</fieldset>
	</form>
	<p class="tac wd100"><a href="#/">Oder loggen sie sich ein</a></p>
</div>