<div class="bigform">
    <h1 class="tac mb30">Angebot anlegen</h1>
    <form ng-submit="uploadForm();" class="form-group">
        <input class="form-control mb10" ng-model="offer.title" placeholder="Titel des Angebotes" value="" type="text" required>

        <textarea ng-model="offer.description" class="form-control mb10 wd100" placeholder="Beschreibung des Angebotes"></textarea>

        <textarea ng-model="offer.reqirements" class="form-control mb10 wd100" placeholder="Bedingungen des Angebotes"></textarea>

        <input class="form-control mb10" min="0" ng-model="offer.price" placeholder="Kosten in €" value="{{offer.price}}" type="number" required>

        <select ng-model="offer.per" class="mb10">
            <option value="pro Buchung">pro Buchung</option>
            <option value="pro Teilnehmer">pro Teilnehmer</option>
            <option value="pro Jahr">pro Jahr</option>
            <option value="pro Monat">pro Monat</option>
            <option value="pro Tag">pro Tag</option>
            <option value="pro Stunde">pro Stunde</option>
            <option value="pro Minute">pro Minute</option>
        </select>

        <select ng-model="offer.category" class="mb10">
            <optgroup ng-repeat="cat in categories" label="{{cat.category}}">
                <option ng-repeat="subcat in cat.subcategory" value="{{subcat}}">{{subcat}}</option>
            </optgroup>
<!-- 
          <optgroup label="Gemeinsames / Verabreden">
            <option value="Kochen / Backen">Kochen / Backen</option>
            <option value="Diskutieren">Diskutieren</option>
            <option value="Aktivitäten">Aktivitäten</option>
            <option value="Außerhaus Meeting">Außerhaus Meeting</option>
          </optgroup>
          <optgroup label="Schönes und Leckeres">
            <option value="Aus der Region">Aus der Region</option>
          </optgroup>
          <optgroup label="Service">
            <option value="Bügeln">Bügeln</option>
            <option value="Lesen">Lesen</option>
            <option value="Geschenke">Geschenke</option>
            <option value="Energie und Versicherung">Energie & Versicherung</option>
          </optgroup>
          <optgroup label="Fortschritt Privat und Beruf">
            <option value="Coaches">Coaches</option>
            <option value="Berater">Berater</option>
            <option value="Therapeuten">Therapeuten</option>
            <option value="Trainer">Trainer</option>
            <option value="Spezial">Spezial</option>
          </optgroup>
          <optgroup label="Kunst und Kultur">
            <option value="Unterhaltung">Unterhaltung</option>
            <option value="Künstler">Künstler</option>
            <option value="Theater">Theater</option>
          </optgroup> -->
        </select>


        <span class="btn btn-primary wd100 fl fileinput_hide">Titelbild auswählen<input id="titleimage" onchange="angular.element(this).scope().checkTitleImage()" multiple="false" type="file" required accept="image/*"></span>

        <div class="images_preview_big">
            <img ng-src="{{titleImage}}" ng-class="{mt10: headerImageApplied}">
        </div>

        <div class="copyimage">
            <span class="btn btn-primary wd100 fl mt10 mb10 fileinput_hide">Bild auswählen <input class="images" onchange="angular.element(this).scope().checkImages(this)" placeholder="Bild auswählen" type="file" accept="image/*"></span>
        </div>

        <div class="images_preview">
            <div class="images_preview_wrapper" ng-repeat="image in images">
                <img src="{{image.data}}">
                <div class="icon-cross" ng-click="deleteImage(image.name)"></div>
            </div>
            
        </div>
        
        <span class="btn btn-primary wd100 fl mb10 fileinput_hide">Video auswählen <input id="video" onchange="angular.element(this).scope().checkVideo()" placeholder="Video auswählen" type="file" accept="video/mp4"></span>

        <input class="btn btn-primary mt30" type="submit" value="Angebot speichern"></input>
        
    </form>
</div>


<div class="progress_wrapper" ng-class="{'active': showProgress}">
    <div class="progress_wrapper_inner">
        <p class="tac">{{progressMessage}}</p>
        <div class="progress">
            <div class="progress-bar" style="width: 0%;"></div>
        </div>
    </div>
</div>