<!-- <file-upload class="btn btn-success btn-rad btn-trans file-upload" name="userFile" multiple="true" uri="/provider/upload/offer/images" accept="image/*">
    <i class="fa fa-upload"></i>
    <span>Upload Files</span>
    <ul>
        <li ng-repeat="p in __userFiles" ng-hide="p.percent == 100">
            <small>{{p.name}}</small>
            <div class="progress">
                <div class="progress-bar" style="width: {{ p.percent }}%;"></div>
            </div>
        </li>
    </ul>
</file-upload> -->


<div class="bigform">
    <h1 class="tac mb30">Angebot anlegen</h1>
    <form ng-submit="uploadForm();watchProgress();" class="form-group">
        <input class="form-control mb10" ng-model="offer.title" placeholder="Titel des Angebotes" value="" type="text" required>

        <textarea ng-model="offer.description" class="form-control mb10 wd100" placeholder="Beschreibung des Angebotes"></textarea>

        <input class="form-control mb30" ng-model="offer.price" placeholder="Kosten in €" value="{{offer.price}}" type="number" required>



        <span class="btn btn-primary wd100 fl mb10 fileinput_hide">Bilder auswählen <input id="images" onchange="angular.element(this).scope().checkImages()" placeholder="Bilder auswählen" multiple="true" type="file" required accept="image/*"></span>

        <div class="images_preview">
            <img ng-repeat="image in images" src="{{image}}">
        </div>
        
        <span class="btn btn-primary wd100 fl mb10 fileinput_hide">Video auswählen <input id="video" onchange="angular.element(this).scope().checkVideo()" placeholder="Video auswählen" type="file" required accept="video/mp4"></span>

        <input class="btn btn-primary mt30" type="submit" value="Angebot speichern"></input>
        
    </form>
</div>


<div class="progress_wrapper" ng-class="{'active': showProgress}">
    <div class="progress_wrapper_inner">
        <p class="tac">{{progressMessage}}</p>
        <div class="progress">
            <div class="progress-bar" style="width: 0%;"></div>
        </div>
    </div>
</div>