<div class="columns large-3" id="posts">
    <ul>
        <li ng-repeat="post in posts">
            <div class="columns large-12 post_profile_data">
                <img ng-src="{{post.avatar.small}}" alt="">
                <p>{{post.name}}</p>
                <p class="post_date">{{post.date}}</p>
            </div>
            <div class="columns large-12">
                <p>{{post.text}}</p>
                <div ng-if="post.youtube">
                    <iframe type="text/html" width="100%" allowfullscreen frameborder="0" ng-src="{{trustSrc(post.link)}}"></iframe>
                </div>
                <div ng-if="!post.youtube && post.link !== ''">
                    <a ng-href="{{post.link}}" target="_blank" title="">{{post.link}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class=" columns large-9">
    <!-- <div class="row"> -->
    <div>
        <div class="columns large-4 ad_slider" slider="true">
            <ul>
                <li ng-class='{active:$first}' ng-repeat="ad in allAds_1">
                    <a href="#/offer/{{ad.id}}">
                    <h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
                    <div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
                    <h1 class="mt10"><b>{{ad.title}}</b></h1>
                    <p>{{ad.description | cut:true:100:' ...'}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="columns large-4 ad_slider" slider="true">
            <ul>
                <li ng-class='{active:$first}' ng-repeat="ad in allAds_2">
                    <a href="#/offer/{{ad.id}}">
                    <h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
                    <div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
                    <h1 class="mt10"><b>{{ad.title}}</b></h1>
                    <p>{{ad.description | cut:true:100:' ...'}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="columns large-4 ad_slider" slider="true">
            <ul>
                <li ng-class='{active:$first}' ng-repeat="ad in allAds_3">
                    <a href="#/offer/{{ad.id}}">
                    <h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
                    <div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
                    <h1 class="mt10"><b>{{ad.title}}</b></h1>
                    <p>{{ad.description | cut:true:100:' ...'}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="columns large-4 ad_slider" slider="true">
            <ul>
                <li ng-class='{active:$first}' ng-repeat="ad in allAds_4">
                    <a href="#/offer/{{ad.id}}">
                    <h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
                    <div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
                    <h1 class="mt10"><b>{{ad.title}}</b></h1>
                    <p>{{ad.description | cut:true:100:' ...'}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- BIG STREAM! -->
        <div class="columns large-4 ad_slider">
            <ul class="mt20">
                <li ng-class='{active:$first}' ng-repeat="ad in ads">
                    <a href="#/offer/{{ad.id}}">
                    <h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
                    <div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
                    <h1 class="mt10"><b>{{ad.title}}</b></h1>
                    <p>{{ad.description | cut:true:100:' ...'}}</p>
                    </a>

                    <hr>
                </li>
            </ul>
        </div>
        <div class="columns large-4 ad_slider" slider="true">
            <ul>
                <li ng-class='{active:$first}' ng-repeat="ad in allAds_5">
                    <a href="#/offer/{{ad.id}}">
                    <h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
                    <div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
                    <h1 class="mt10"><b>{{ad.title}}</b></h1>
                    <p>{{ad.description | cut:true:100:' ...'}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>