<div class="columns large-3" id="posts">
	<ul>
		<li ng-repeat="post in posts">
			<a href="" ng-click="loadPostView(post.id)" title="" class="biglink">
				<div class="columns large-12 post_profile_data">
					<img ng-src="{{post.avatar.small}}" alt="">
					<p>{{post.name}}</p>
					<p class="post_date">{{post.date}}</p>
				</div>
				<span class="link_wrapper">
					<p>{{post.text}}</p>
					<img ng-if="post.image !== ''" ng-src="{{post.image}}" alt="">
					<a class="link_post" ng-if="post.link !== ''" ng-href="{{post.link}}" title="">{{post.link}}</a>
				</span>
			</a>
		</li>
	</ul>
</div>
<div class="columns large-9">
	<!-- <div class="row"> -->
	<div ng-show="postview" id="postviewbig">
		<div class="columns large-12 post_profile_data">
			<div class="avatar_post">
				<img ng-src="{{postToView.avatar.small}}" alt="">
				<p>{{postToView.name}} <br><i>{{postToView.date}}</i></p>
			</div>
			<div class="columns large-12">
				<p>{{postToView.text}}</p>
				<img ng-if="postToView.image && postToView.image !== ''" ng-src="{{postToView.image}}" alt="">
				<div ng-if="postToView.youtube">
					<iframe type="text/html" allowfullscreen frameborder="0" ng-src="{{trustSrc(postToView.link)}}"></iframe>
				</div>
				<div ng-if="!postToView.youtube && postToView.link !== ''">
					<iframe frameborder="0" style="height:600px !important;width:100%" ng-src="{{trustSrc(postToView.link)}}"></iframe>
					<!-- <a ng-href="" target="_blank" title="">{{postToView.link}}</a> -->
				</div>
			</div>
			<div class="columns large-12">
				<hr>
				<h1>Feedback</h1>
				<i>Für Mehrfachauswahl bitt Strg- oder CMD-Taste gedrückt halten</i>
				<select class="opinions" multiple="true" ng-model="opinion_" ng-options="c for c in opinion"></select>
				<textarea style="height:100px" maxlength="140" ng-maxlength="140" ng-trim="5" class="form-control mb10 wd100" ng-model="$parent.postToViewComment" value="$parent.postToViewComment" placeholder="Schreibe ein Kommentar... (Maximal 140 Zeichen)" required>{{$parent.postToViewComment}}</textarea>
				<a class="btn btn-primary wd100 fl mb10" href="" ng-click="addCommentPost(postToView.id,opinion_)">Kommentar abgeben</a>

				<ul id="comment_section">
					<li ng-repeat="comment in postToView.messages">
						<div class="columns large-12 post_profile_data">
							<p class="mt0">{{comment.user.firstname}} {{comment.user.lastname}} - <i>{{comment.date}}</i></p>
						</div>
						<div class="columns large-12">
							<p class="mt0">{{comment.text}}</p>
							<ul ng-if="comment.opinion">
								<li style="border-bottom:0" ng-repeat="op in comment.opinion">- {{op}}</li>
							</ul>

						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>


	<div ng-hide="postview">
		<div class="columns large-4 ad_slider" slider="true">
			<ul>
				<li ng-class='{active:$first}' ng-repeat="ad in allAds_1">
					<a href="#/offer/{{ad.id}}">
					<h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
					<div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
					<h1 class="mt10"><b>{{ad.title}}</b></h1>
					<p>{{ad.description | cut:true:100:' ...'}}</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="columns large-4 ad_slider" slider="true">
			<ul>
				<li ng-class='{active:$first}' ng-repeat="ad in allAds_2">
					<a href="#/offer/{{ad.id}}">
					<h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
					<div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
					<h1 class="mt10"><b>{{ad.title}}</b></h1>
					<p>{{ad.description | cut:true:100:' ...'}}</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="columns large-4 ad_slider" slider="true">
			<ul>
				<li ng-class='{active:$first}' ng-repeat="ad in allAds_3">
					<a href="#/offer/{{ad.id}}">
					<h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
					<div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
					<h1 class="mt10"><b>{{ad.title}}</b></h1>
					<p>{{ad.description | cut:true:100:' ...'}}</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="columns large-4 ad_slider" slider="true">
			<ul>
				<li ng-class='{active:$first}' ng-repeat="ad in allAds_4">
					<a href="#/offer/{{ad.id}}">
					<h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
					<div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
					<h1 class="mt10"><b>{{ad.title}}</b></h1>
					<p>{{ad.description | cut:true:100:' ...'}}</p>
					</a>
				</li>
			</ul>
		</div>
		<!-- BIG STREAM! -->
		<div class="columns large-4 ad_slider">
			<ul class="mt20">
				<li ng-class='{active:$first}' ng-repeat="ad in ads">
					<a href="#/offer/{{ad.id}}">
					<h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
					<div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
					<h1 class="mt10"><b>{{ad.title}}</b></h1>
					<p>{{ad.description | cut:true:100:' ...'}}</p>
					</a>

					<hr>
				</li>
			</ul>
		</div>
		<div class="columns large-4 ad_slider" slider="true">
			<ul>
				<li ng-class='{active:$first}' ng-repeat="ad in allAds_5">
					<a href="#/offer/{{ad.id}}">
					<h1>Kategorie:<br> <b>{{ad.category}}</b></h1>
					<div class="teaser_photo" style="background-image:url({{ad.photos[0]}})"></div>
					<h1 class="mt10"><b>{{ad.title}}</b></h1>
					<p>{{ad.description | cut:true:100:' ...'}}</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>