<div class="bigform">
	<h1 class="tac mb30">Benutzer anlegen</h1>
	<form ng-submit="registerProvider()" class="form-group">
		<input class="form-control mb10" ng-model="provider.company" placeholder="Name des Unternehmens" value="{{provider.company}}" type="text" required>
		<input class="form-control mb10" ng-model="provider.lastname" placeholder="Name" value="{{provider.lastname}}" type="text" required>
		<input class="form-control mb10" ng-model="provider.firstname" placeholder="Vorname" value="{{provider.firstname}}" type="text" required>
		<input class="form-control mb10" ng-model="provider.email" placeholder="Email" value="{{provider.email}}" type="email" required>
		<input class="form-control mb10" ng-model="provider.street" placeholder="Staße und Hausnummer" value="{{provider.street}}" type="text" required>
		<input class="form-control mb10" ng-model="provider.zip" placeholder="PLZ" value="{{provider.zip}}" type="number" required>
		<input class="form-control mb10" ng-model="provider.city" placeholder="Stadt" value="{{provider.city}}" type="text" required>
		<input class="form-control mb30" ng-model="provider.tel" placeholder="Telefon" value="{{provider.tel}}" type="tel" required>
		<input class="btn btn-primary" type="submit" value="Benutzer anlegen"></input>
	</form>
	<button class="btn btn-danger wd100 mt20" ng-click="logout">Logout</button>
</div>