<div ng-if="adminPanel" class="admin_check_buttons">
    <button ng-click="changeOffer(true)" class="btn btn-block btn-lg btn-primary mt30">Aktivieren</button>
    <button ng-click="changeOffer(false)" class="btn btn-block btn-lg btn-danger mt30">Deaktiveren</button>
</div>


<div ng-show="notproved">
    <h2 class="danger tac error">
        Ihr Angebot liegt derzeit bei uns zur Prüfung vor und ist noch nicht für die Öffentlichkeit freigegeben!
    </h2>
</div>
<div ng-show="notallowed">
    <h2 class="danger tac error">
        Dieses Angebot ist zur Zeit in Prüfung und ist für sie noch nicht freigeschalten!
    </h2>
</div>
<div ng-if="!notallowed">
    <div class="offer">
        <div class="row">
            <div class="columns large-8">
                <div class="columns large-3">
                    <img class="o_avatar" ng-src="{{user.avatar}}"/>
                    <p class="o_name tac">
                        {{user.name}}
                    </p>
                    <p>
                        <a href="?email={{user.email}}#/chat" title="">
                            Nachricht senden
                        </a>
                    </p>
                </div>
                <div class="columns large-9">
                    <div class="columns large-12">
                        <h1 class="o_title">
                            {{offer.title}}
                        </h1>
                        <p class="o_place">
                            <strong>
                                {{user.city}}
                            </strong>
                            - {{user.street}}
                        </p>
                    </div>
                    <div class="columns large-4">
                        <i class="mt10 tac o_icon-offer icon-eye">
                        </i>
                        <p class="tac">
                            {{offer.views}}
                        </p>
                    </div>
                    <div class="columns large-4">
                        <i ng-class="{active : offer.isfavoriteOfUser}" ng-click="addRemoveFromFavorites()" class="mt10 tac o_icon-offer icon-heart">
                        </i>
                        <p class="tac">
                            {{offer.likes}}
                        </p>
                    </div>
                    <div class="columns large-4">
                        <i class="mt10 tac o_icon-offer icon-creditcard">
                        </i>
                        <p class="tac">
                            {{offer.purchased}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns large-4" ng-class="{sticky:sticky}">
                <div id="pricing">
                    <p class="fl">
                        {{offer.price}} €
                    </p>
                    <p class="fr">
                        {{offer.per}}
                    </p>
                </div>
                <div id="book_it">
                    <form class="form-group mb0" ng-submit="sendRequest()">
                        <ul>
                            <li>
                                <span>
                                    Kosten Anbieter:
                                </span>
                                <span>
                                    {{offer.price}} €
                                </span>
                            </li>
                            <li>
                                <span>
                                    Übernahme Arbeitgeber:
                                </span>
                                <span>
                                    {{offer.companyAmount}} %
                                </span>
                            </li>
                            <hr/>
                            <li>
                                <span>
                                    Summe :
                                </span>
                                <span>
                                    {{offer.price / 100 * offer.companyAmount}} €
                                </span>
                            </li>
                        </ul>
                        <fieldset>
                            <div class="o_picker">
                                <p>
                                </p>
                                <input required class="datepicker form-control mb10" placeholder="Datum"/>
                            </div>
                            <input required class="timepicker form-control mb10" placeholder="Uhrzeit"/>
                        </fieldset>
                        <div class="o_accept">
                            <input required type="checkbox" id="accept"/>
                            <label for="accept">
                                Beim checken der Box, akzeptieren sie die Bedingungen des Anbieters und bestellen kostenpflichtig.
                            </label>
                        </div>
                        <input class="btn btn-block btn-lg btn-primary mt30"  type="submit" value="Buchung anfragen"/>
                    </input>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <h1>
            Über dieses Angebot
        </h1>
        <div ng-bind-html="offer.description">
        </div>
    </div>
    <div class="columns large-12">
        <h1>
            Bereiche
        </h1>
        <div class="sections">
            <div class="section_item" ng-repeat="section in offer.sections">
                <p>
                    {{section.title}}
                </p>
            </div>
        </div>
    </div>
</div>
<mapbox callback="callback">
</mapbox>
</div>
</div>
