<img src="http://goldbock.de/img/logo.jpg">
<h1>Die Verifizierung Ihrer Emailadresse war erfolgreich!</h1>

<div class="maincontent">
	<p>Die Verifizierung ist abgeschlossen und Sie können Goldbock nun über Ihre Zugangsdaten nutzen.<br>
	Wir wünschen Ihnen viel Spaß, eine Erleichterung in Ihrem Leben und stets den passenden Fortschritt ;-)</p>
</div>

<p class="fun">Ihr Team Goldbock</p>


<p class="notify">
	Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat sind oder diese E-Mail irrtümlich erhalten haben, informieren Sie bitte sofort den Absender und vernichten Sie diese Mail. Das unerlaubte Kopieren sowie die unbefugte Weitergabe dieser Mail ist nicht gestattet.
</p>
