<img src="http://goldbock.de/img/logo.jpg">
<h1>Email verifizieren</h1>

<div class="maincontent">
	<p>Bitte verifizieren sie Ihre Email indem sie auf den unten stehenden Link klicken.</p>

	<p class="password">Link: <a href="<%= token %>">Email verifizieren</a> </p>
</div>

<p class="fun">Ihr Goldbock-Team</p>


<p class="notify">
	Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat sind oder diese E-Mail irrtümlich erhalten haben, informieren Sie bitte sofort den Absender und vernichten Sie diese Mail. Das unerlaubte Kopieren sowie die unbefugte Weitergabe dieser Mail ist nicht gestattet.
</p>
