<div class="row dashboard">
	<h1 class="tac mb30">Meine Favoriten</h1>
	<div class="large-12 columns">

	<div ng-show="user.liked.length > 0">
		<ul class="offer-list">
			<li ng-repeat="offer in user.liked">
				<a ng-href="#/offer/{{offer.id}}">{{offer.title}}</a>
				<!-- <span class="icon-pencil" ng-click="redirectEdit(offer.id)"></span> -->
				<span ng-click="deleteFav(offer.id)" class="icon-cup"></span>
			</li>
		</ul>
	</div>

	<div ng-show="user.liked.length == 0">
		<h2>Sie haben bisher noch keine Favoriten gespeichert</h2>
		<p>Favoriten speichern sie, indem Sie auf das Herz innerhalb eines Angebotes klicken!</p>
	</div>
	</div>
</div>